$fontFamily: 'Lato', sans-serif;

$background: #f2f2f2;
$whiteBackgroundColor: #FFF;
$unactiveBackgroundColor: #888;
$confirmBackground: #25FF25;
$borderFormColor: #e6880d;

$greyFontColor: rgb(95, 94, 94);
$blackFontColor: #000;
$warningFontColor: #470909;